@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-family: "Helvetica", sans-serif;
  background-color: var(--color-background);
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-text);
}

/* special class to stretch button for "react-native-paper" Button */
.btn-full-width {
  width: 100%;
}

.btn-full-width button {
  width: 100%;
}
